@import "@assets/css/style.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #0d1117; /* Coincide con el fondo del editor */
  color: white;
  font-family: "Inter", sans-serif;
}
